body {
  background: black;
  font-family: courier;
  height: 4000px;
}
body #contentOne {
  width: 100%;
  font-size: 10px;
  margin-top: 60px;
  margin-left: 3%;
  line-height: 10px;
  position: absolute;
}
body #contentTwo {
  width: 100%;
  font-size: 10px;
  margin-top: 60px;
  margin-left: 3%;
  line-height: 10px;
  position: absolute;
}
.cadratin {
  color: red;
  height: auto;
  float: left;
}
.cadratin .row {
  display: flex;
  height: 10px;
}
.cadratin .row span {
  font-family: 'lunchdiner';
  width: 6px;
  flex-grow: 1;
  flex-basis: auto;
}
.cadratin .row span.fill {
  color: white;
  background: white;
  outline: 1px solid white;
}
