@font-face {
  font-family: 'lunchtype22regular';
  src: url('fontes/lunchtype22-regular-webfont.eot');
  src: url('fontes/lunchtype22-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lunchtype22medium';
  src: url('fontes/lunchtype22-medium-webfont.eot');
  src: url('fontes/lunchtype22-medium-webfont.eot?#iefix') format('embedded-opentype'), url('fontes/lunchtype22-medium-webfont.woff2') format('woff2'), url('fontes/lunchtype22-medium-webfont.woff') format('woff'), url('fontes/lunchtype22-medium-webfont.ttf') format('truetype'), url('fontes/lunchtype22-medium-webfont.svg#lunchtype22medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lunchtype22light';
  src: url('Blunchtype22-light-webfont.eot');
  src: url('lunchtype22-light-webfont.eot?#iefix') format('embedded-opentype'), url('lunchtype22-light-webfont.woff2') format('woff2'), url('lunchtype22-light-webfont.woff') format('woff'), url('lunchtype22-light-webfont.ttf') format('truetype'), url('lunchtype22-light-webfont.svg#lunchtype22light') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  background: #c1fff0;
  /* Old browsers */
  background: -moz-linear-gradient(top, #c1fff0 55%, #fff830 99%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #c1fff0 55%, #fff830 99%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #c1fff0 55%, #fff830 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c1fff0', endColorstr='#fff830', GradientType=0);
  /* IE6-9 */
  font-family: 'lunchtype22regular';
  height: 3000px;
}
body #content {
  position: fixed;
  width: 94%;
  font-size: 1.1vw;
  margin-top: 30px;
  margin-left: 3%;
  line-height: 1.25vw;
}
body #content .row {
  display: flex;
}
body #content .row span {
  width: 0px;
  flex-grow: 1;
  color: red;
  flex-basis: auto;
}
body #content .row15 .col8 {
  transform: rotate(40deg);
}
body .contentInfo {
  text-align: center;
  position: absolute;
  margin-top: 400px;
  padding: 10px;
}
body .contentInfo .colLeft {
  width: 50%;
}
body .contentInfo .colLeft .SubTitle {
  font-family: 'lunchtype22medium';
  font-size: 60px;
}
body .contentInfo .colLeft .Dates,
body .contentInfo .colLeft .Txt {
  font-family: 'lunchtype22medium';
  font-size: 40px;
}
